fastapi
uvicorn[standard]

supabase

pydantic

pydantic-settings

python-dotenv

python-multipart

email-validator

python-jose[cryptography]

passlib[bcrypt]

httpx

aiofiles

loguru

python-magic

pytest

pytest-asyncio 

PyMuPDF
python-docx
python-pptx
pytesseract
Pillow

openai

python-dotenv

sentence-transformers==5.1.0
torch>=2.7.0